
<!DOCTYPE HTML>
<!--
    Massively by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Yoga Sutra- By Manoj Chand</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/Yoga/main.css" />
    <noscript><link rel="stylesheet" href="~/css/Yoga/noscript.css" /></noscript>
</head>
<body class="is-loading">

    
    @RenderBody()
    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Yoga/jquery.scrollex.min.js"></script>
    <script src="~/js/Yoga/jquery.scrolly.min.js"></script>
    <script src="~/js/Yoga/skel.min.js"></script>
    <script src="~/js/Yoga/util.js"></script>
    <script src="~/js/Yoga/main.js"></script>

</body>
</html>





