@using Microsoft.AspNetCore.Identity
@inject SignInManager<ExtendedUser> SignInManager
@inject UserManager<ExtendedUser> UserManager

    <div class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" style="color:gray !important" data-toggle="dropdown">
            <i class="fa fa-user"></i>
        </a>
            <ul class="navbar-nav dropdown-menu">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }


            </ul>
        
    </div>



