@page
@model CoreSite1.Pages.Admin.PageTemplate.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>PageTemplate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PageTemplate.Name" class="control-label"></label>
                <input asp-for="PageTemplate.Name" class="form-control" />
                <span asp-validation-for="PageTemplate.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageTemplate.TempleteURL" class="control-label"></label>
                <input asp-for="PageTemplate.TempleteURL" class="form-control" />
                <span asp-validation-for="PageTemplate.TempleteURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageTemplate.Header" class="control-label"></label>
                <input asp-for="PageTemplate.Header" class="form-control" />
                <span asp-validation-for="PageTemplate.Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageTemplate.Footer" class="control-label"></label>
                <input asp-for="PageTemplate.Footer" class="form-control" />
                <span asp-validation-for="PageTemplate.Footer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PageTemplate.SideBar" class="control-label"></label>
                <input asp-for="PageTemplate.SideBar" class="form-control" />
                <span asp-validation-for="PageTemplate.SideBar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
