@page
@model CoreSite1.Pages.OrderItem.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>OrderItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderItem.OrderItemId" />
            <div class="form-group">
                <label asp-for="OrderItem.AddedDate" class="control-label"></label>
                <input asp-for="OrderItem.AddedDate" class="form-control" />
                <span asp-validation-for="OrderItem.AddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.AddedBy" class="control-label"></label>
                <input asp-for="OrderItem.AddedBy" class="form-control" />
                <span asp-validation-for="OrderItem.AddedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.OrderId" class="control-label"></label>
                <select asp-for="OrderItem.OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                <span asp-validation-for="OrderItem.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.ProductId" class="control-label"></label>
                <select asp-for="OrderItem.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="OrderItem.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.VariantId" class="control-label"></label>
                <select asp-for="OrderItem.VariantId" class="form-control" asp-items="ViewBag.VariantId"></select>
                <span asp-validation-for="OrderItem.VariantId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Title" class="control-label"></label>
                <input asp-for="OrderItem.Title" class="form-control" />
                <span asp-validation-for="OrderItem.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.SKU" class="control-label"></label>
                <input asp-for="OrderItem.SKU" class="form-control" />
                <span asp-validation-for="OrderItem.SKU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Quantity" class="control-label"></label>
                <input asp-for="OrderItem.Quantity" class="form-control" />
                <span asp-validation-for="OrderItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.FinalUnitPrice" class="control-label"></label>
                <input asp-for="OrderItem.FinalUnitPrice" class="form-control" />
                <span asp-validation-for="OrderItem.FinalUnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderItem.Discount" class="control-label"></label>
                <input asp-for="OrderItem.Discount" class="form-control" />
                <span asp-validation-for="OrderItem.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
