@page
@model CoreSite1.Pages.Admin.Service.ConfigModel
@{
}
@*Get Page Size
    Get UnsoldCartItemClean_Flag
    Get OldOrderClean_FLag*@
<h4>Services List</h4>

<p>No of Item showen in each Product List page:- @Model.PageSize</p> 

<p>Timer service is on or off status:- @Model.TimerServiceFlag</p>

<p>File size limit set for uploading files:- @Model.FileSizeLimit</p> 