@page
@model CoreSite1.Pages.Admin.Service.IndexModel
@{
}

<h4>Services List</h4>
<ul>
    <li>&nbsp;Import Bulk Product.<a href="https://localhost:44336/Admin/Services/ImportBulkCreate">https://localhost:44336/Admin/Services/ImportBulkCreate</a></li>
    <li>Export Bulk Product.<a href="https://localhost:44336/Admin/Services/ExportBulkList">https://localhost:44336/Admin/Services/ExportBulkList</a></li>
    <li>Create Image ThumbNails.(Single - Multiple)</li>
    <li>Clear Unsold&nbsp;Cart. (Done using Application timer service register in app Service. Timer service Configuration can be seen in config sectuion)</li>
    <li>Clear Old Order. (Done using Application timer service register in app Service. Configuration can be seen in config sectuion)</li>
</ul>
