@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@*use URL Rewriting to redirect this page to Index of store or my Store*@
<div class="text-center">
    <h1 class="display-4">Moon Commerce</h1>
    <p>Welcom to Moon Commerce Admin Site. You can click menu links and go to respective pages.</p>
    @*<h1 class="display-4">Welcome10</h1>
        <p>use URL Rewriting to redirect this page to Index of store or my Store</p>*@
</div>
